* {
    -webkit-box-sizing: border-box;
            box-sizing: border-box; }
  
  html {
    font-size: 100%;
    color: rgb(224, 224, 224);
    font-weight: 300;
    text-rendering: optimizeLegibility;
    -webkit-font-kerning: normal;
    font-kerning: normal;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
         text-size-adjust: 100%; }


.center {
    margin: auto;
    height: 300px;
    width: 60%;
    background-color: rgb(31, 90, 92);
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    }

    input[type=submit] {
        padding: 5px 20px 5px 20px; 
        background:rgb(255, 255, 255); 
        color: rgb(31, 122, 122);
        border:0 none;
        cursor:pointer;
        font-weight: bold;
        -webkit-border-radius: 10px;
        border-radius: 10px; 
        justify-self: right;
        text-align: center;
        text-justify: auto;
    }
    .header {
    margin: auto;
    height: 50px;
    width: 60%;
    background-color: rgb(46, 159, 163);
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: left;
    }

    .footer {
        margin: auto;
        height: 50px;
        width: 60%;
        background-color: rgb(46, 159, 163);
        padding: 10px;
        display: flex;
        align-items: center;
        justify-content: right;
    }

    p {
        text-align: center;
    }

    